*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none; 
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}



.navbar.sticky{
    padding: 30px 0;
    background-color:#E7DFCE; 
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.navbar .logo a{
    color: #E7DFCE;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: black;
    font-size: 25px;
}

.navbar.sticky .logo a span{
    color:  #E7DFCE;
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color:  #E7DFCE;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #E7DFCE;
}

.navbar.sticky .menu li a:hover{
    color: white;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
  
  .navbar{
    margin-left: -2%;
    position: absolute;
    width: 110%;
    z-index: 999;
    padding: 30px 0;
    /*background-color: #E7DFCE; */
    transition: all 0.3s ease;
    background-color: white;
    margin-top: -5%;
   
  }

  .navbar.sticky{
    padding: 20px 0;
  }
  
  .navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  
  .navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
  }
  
  .navbar .logo a span{
    color: black;
    font-size: 25px;
  }
  
  .navbar.sticky .logo a span{
    color:  black;
    transition: all 0.3s ease;
  }
  
  .navbar .menu li {
    list-style: none;
    display: inline-block;
  }
  
  .navbar .menu li a{
    color:  black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
  }
  
  .navbar .menu li a:hover{
    color: #E7DFCE;
  }
  
  .navbar.sticky .menu li a:hover{
    color: white;
  }
  
section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
    margin-top: 5%;
    font-family: "Ubuntu";
}

section::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background:#E7DFCE;
}

section .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

section .container .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80);
    background:#112d42;
    z-index: 1;
    page-break-after: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .container .contactinfo h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
}

section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .container .contactinfo .info li span:nth-last-child(1){
    width: 30px;
    min-width: 30px;
}


section .container .contactinfo .info li span:nth-last-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .container .contactinfo .info li span:nth-last-child(2){
    color: white;
    margin-left: 10px;
    font-weight: 500;
    opacity: 0.5;
}


section .container .contactinfo .info li span:nth-last-child(2) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .container .contactinfo .info li:hover span:nth-last-child(1) img,
section .container .contactinfo .info li:hover span:nth-last-child(2){
    opacity: 1;
}

section .container .contactinfo .sci{
    position: relative;
    display: flex;
}

section .container .contactinfo .sci li {
    list-style: none;
    margin-right: 15px;
}

section .container .contactinfo .sci li a {
    text-decoration: none;
}

section .container .contactinfo .sci li a img{
    filter: invert(1);
    opacity: 0.5;
}

section .container .contactinfo .sci li:hover a img{
    opacity: 1;
}

section .container .contactForm{
    position: absolute;
    padding: 70px 50px;
    background: white;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100%-150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

section .container .contactForm h2{
    color: #0F3959;
    font-size: 24px;
    font-weight: 500;
}

section .container .contactForm .formBox{
    position: relative;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .container .contactForm .formBox .inputBox{
    position: relative;
    margin:0 0 35px 0;
}

section .container .contactForm .formBox .inputBox.w50{
    width: 47%;
}

section .container .contactForm .formBox .inputBox.w100{
    width: 100%;
    margin-top: -5%;
    
}

section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea
{
    width: 100% !important;
    padding:5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    border:none;
    border-bottom: 1px solid #777;
    outline: none;
}

section .container .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}

section .container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus  ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid  ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing:1px ;
    color: pink;
}

section .container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
}

section .container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: pink;
}





  .footer {
    
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }

 
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }